<a href="https://colab.research.google.com/github/Zahid3640/JavaScript/blob/main/zahid.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

                              NAME: ZAHID NAWAZ
                              REG NO: FA20-BSE-021

Activity 1:

In [ ]:
mylist=[]
for i in range(5):
 val=input("Enter number:")
 mylist.append(val)

print("the list is that:")  
print(mylist)

Enter number:3
Enter number:5
Enter number:7
Enter number:3
Enter number:2
the list is that:
['3', '5', '7', '3', '2']

Activity 2:

In [ ]:
mylist=[]
for i in range(5):
 val=input("Enter number:")
 n=int(val)
 mylist.append(n)


sum=0
for n in mylist:
 sum=sum+n
print("the sum of  list is that:",sum)

Enter number:3
Enter number:1
Enter number:8
Enter number:3
Enter number:1
the sum of  list is that: 16

Activity 3:

In [ ]:
mylist=[]
for i in range(5):
 val=input("Enter number:")
 mylist.append(val)

print("the list is that:")  
print(mylist)

Enter number:4
Enter number:8
Enter number:4
Enter number:9
Enter number:apple
the list is that:
['4', '8', '4', '9', 'apple']

Activity 4:
Display Maximum.

In [ ]:
mylist=[]
for i in range(5):
  val=input("enter number")
  n=int(val) 
  mylist.append(n)
var=max(mylist)
print("maximum number is that:",var)

enter number5
enter number3
enter number9
enter number1
enter number0
maximum number is that: 9

Activity 5:
Display minimum.

In [ ]:
mylist=[]
for i in range(5):
  val=input("enter number")
  n=int(val) 
  mylist.append(n)
var=min(mylist)
print("minimum number is that:",var)

enter number3
enter number2
enter number8
enter number0
enter number2
minimum number is that: 0

Activity 6: Join to list.

In [ ]:
mylist1=[]
for i in range(5):
  val=input("enter  value of first list.")
  n=int(val) 
  mylist1.append(n)
mylist2=[]
for i in range(5):
  val=input("enter  value of second list.")
  n=int(val) 
  mylist2.append(n)
list3=mylist1+mylist2
print("join list is that:",list3)

enter  value of first list.2
enter  value of first list.7
enter  value of first list.9
enter  value of first list.1
enter  value of first list.8
enter  value of second list.0
enter  value of second list.4
enter  value of second list.7
enter  value of second list.9
enter  value of second list.2
join list is that: [2, 7, 9, 1, 8, 0, 4, 7, 9, 2]

Activity 7:

In [ ]:
mylist1=[]
for i in range(5):
  val=input("enter  value of first list.")
  n=int(val) 
  mylist1.append(n)
print(mylist1)
s=input("enter value that you find")
n=int(s)
found=n in mylist1
if found==True:
  print("value is found")
else:
  print("value is found")

enter  value of first list.2
enter  value of first list.5
enter  value of first list.9
enter  value of first list.7
enter  value of first list.2
[2, 5, 9, 7, 2]
enter value that you find2
value is found

Activity 8:

In [ ]:
 
def say_hello(n):
 print("hello",n)

 mylist1=[]
for i in range(3):
 n=input("enter  value of first list.")
 say_hello(n)

enter  value of first list.zahid
hello zahid
enter  value of first list.ali
hello ali
enter  value of first list.asim
hello asim


Activity 9:

In [ ]:
def ispalindrome(word):
 temp=word[::-1]
 if temp.capitalize()==word.capitalize():
   return True
 else:
   return False
print(ispalindrome("deed"))

True